<style>
th,td {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;

}

td, th {
border: 1px solid #ddd;
padding: 8px;
}

tr:nth-child(even){background-color: grey;}

tr:hover {background-color: blue;}

th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
}
</style>
<a href="../../providers" >New Search</a><br />
<h1>Search Results ({{num}} items)</h1>
  <table>
      <thead>
          <tr>
              <th>MATCHING</th>
              <th>L DISTANCE</th>

          </tr>
      </thead>
      <tbody>

      {{#each results}}
      <tr>
          <td class="id">{{this.needed}}  </td>
          <td class="id">{{this.distance}}</td>

      </tr>
      {{/each}}
      </tbody>
  </table>
